body{
  background-color: silver;
}
#wrapper{
  width: 500px;
  padding: 40px;
  margin: 50px auto 20px auto;
  box-shadow: -5px 5px 5px grey;
  font-family: 'Cabin', sans-serif;
  border: 1px solid black;
  background-color: white;
}
h1, #box, nav{
  text-align: center;

}
h1{
  margin-top: 125px;
  font-family: 'Droid Sans', sans-serif;
}
li{
  display: inline;
  font-size: 150%;
  margin-right: 20px;
  padding: 5px;
}
#box{
  font-size: 150%;
}
a{
  color: #4d94ff;
}
a:hover{
  color: black;
}
#box2{
text-align: center;
font-size: 130%;
font-weight: bold;
}
#wrapper2{
  width: 400px;
  padding: 10px;
  margin: 50px auto 20px auto;
  box-shadow: -5px 5px 5px grey;
  font-family: 'Cabin', sans-serif;
  border: 1px solid black;
  background-color: white;
}
#mirror{
  text-align: center;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 1;
}
.heart{
  fill: grey;
  top: 500px;
  left: 770px;
  width: 80px;
  position: absolute;
  z-index: 2;
  animation-name: heart;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes heart {
  0% { transform: scale(1); }
  50% { transform: scale(1.3); }
  100% { transform: scale(1); }

}
#heart{
  position:relative;
  z-index: 2;
}

#heart img {
position:absolute;
bottom: 200px;
left: 590px;
transition: opacity 1s ease-in-out;
}

#heart img.top:hover {
opacity:0;
}
.sprite{
  z-index: 2;
  width: 56px;
  height: 47px;
  background-image: url(images/heart_sprites.png);
  animation: play .7s steps(8) infinite;
}
@keyframes play {
  from { background-position:    0px; }
     to { background-position: -444px; }
}
